<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="expo.modules.dualcamera">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="true" />
    <uses-feature android:name="android.hardware.camera.front" android:required="true" />
</manifest>